extends layout

block content
  h1= title
  p Welcome to #{title}

  form(action='/info/' method='get')
    label Url:
    input(type='url' name='url'
          placeholder="https://youtube.com/watch...")
